Repository Side-Project-JobNote/Backend, pull requests merged in 2025-08, with the labels that each got.

#33 feat: 회원 정보 조회 API 개발
  src/main/java/com/jobnote/domain/user/api/UserController.java
  src/main/java/com/jobnote/domain/user/dto/UserProfileResponse.java
  src/main/java/com/jobnote/domain/user/service/UserService.java
Labels: feature

#39 refactor: 이메일 발송 로직 리팩터링
  build.gradle
  src/main/java/com/jobnote/domain/user/domain/VerificationToken.java
  src/main/java/com/jobnote/domain/user/event/SignUpEvent.java
  src/main/java/com/jobnote/domain/user/event/SignUpEventListener.java
  src/main/java/com/jobnote/domain/user/service/UserService.java
  src/main/java/com/jobnote/domain/verificationtoken/domain/VerificationToken.java
  src/main/java/com/jobnote/domain/verificationtoken/domain/VerificationTokenStatus.java
  src/main/java/com/jobnote/domain/verificationtoken/repository/VerificationTokenRepository.java
  src/main/java/com/jobnote/domain/verificationtoken/service/VerificationTokenService.java
  src/main/java/com/jobnote/global/common/Constants.java
  src/main/java/com/jobnote/global/common/ResponseCode.java
  src/main/java/com/jobnote/global/config/AsyncConfig.java
  src/main/java/com/jobnote/global/config/MailConfig.java
  src/main/java/com/jobnote/global/config/RetryConfig.java
  src/main/java/com/jobnote/infra/mail/MailService.java
  src/main/java/com/jobnote/infra/mail/dto/MailMessageDto.java
  src/main/java/com/jobnote/mail/MailService.java
  src/test/java/com/jobnote/domain/user/domain/VerificationTokenTest.java
  src/test/java/com/jobnote/domain/user/service/UserServiceTest.java
  src/test/java/com/jobnote/domain/verificationtoken/domain/VerificationTokenTest.java
  src/test/java/com/jobnote/domain/verificationtoken/service/VerificationTokenServiceTest.java
Labels: refactor

#41 feat: 비밀번호 재설정 API 개발
  src/main/java/com/jobnote/auth/filter/TokenAuthenticationFilter.java
  src/main/java/com/jobnote/domain/user/controller/UserController.java
  src/main/java/com/jobnote/domain/user/domain/User.java
  src/main/java/com/jobnote/domain/user/dto/UserResetPasswordEmailRequest.java
  src/main/java/com/jobnote/domain/user/dto/UserResetPasswordRequest.java
  src/main/java/com/jobnote/domain/user/event/EmailVerificationEvent.java
  src/main/java/com/jobnote/domain/user/event/EmailVerificationEventListener.java
  src/main/java/com/jobnote/domain/user/event/SignUpEvent.java
  src/main/java/com/jobnote/domain/user/service/UserService.java
  src/main/java/com/jobnote/domain/verificationtoken/domain/VerificationToken.java
  src/main/java/com/jobnote/domain/verificationtoken/service/VerificationTokenService.java
  src/main/java/com/jobnote/global/common/Constants.java
  src/main/java/com/jobnote/global/common/ResponseCode.java
  src/main/java/com/jobnote/global/config/properties/AppProperties.java
  src/main/resources/application.yml
  src/test/java/com/jobnote/domain/user/domain/UserTest.java
  src/test/java/com/jobnote/domain/user/service/UserServiceTest.java
  src/test/java/com/jobnote/domain/verificationtoken/domain/VerificationTokenTest.java
  src/test/java/com/jobnote/domain/verificationtoken/service/VerificationTokenServiceTest.java
Labels: feature

#44 feat: 인증 이메일 재전송 API 개발
  src/main/java/com/jobnote/domain/email/controller/VerificationEmailController.java
  src/main/java/com/jobnote/domain/email/domain/VerificationEmail.java
  src/main/java/com/jobnote/domain/email/domain/VerificationEmailStatus.java
  src/main/java/com/jobnote/domain/email/domain/VerificationEmailType.java
  src/main/java/com/jobnote/domain/email/dto/VerificationEmailRequest.java
  src/main/java/com/jobnote/domain/email/event/VerificationEmailEvent.java
  src/main/java/com/jobnote/domain/email/event/VerificationEmailEventListener.java
  src/main/java/com/jobnote/domain/email/repository/VerificationEmailRepository.java
  src/main/java/com/jobnote/domain/email/service/VerificationEmailService.java
  src/main/java/com/jobnote/domain/user/controller/UserController.java
  src/main/java/com/jobnote/domain/user/event/EmailVerificationEvent.java
  src/main/java/com/jobnote/domain/user/event/EmailVerificationEventListener.java
  src/main/java/com/jobnote/domain/user/service/UserService.java
  src/main/java/com/jobnote/domain/verificationtoken/domain/VerificationTokenStatus.java
  src/main/java/com/jobnote/domain/verificationtoken/repository/VerificationTokenRepository.java
  src/main/java/com/jobnote/domain/verificationtoken/service/VerificationTokenService.java
  src/main/java/com/jobnote/global/common/ResponseCode.java
  src/test/java/com/jobnote/domain/email/domain/VerificationEmailTest.java
  src/test/java/com/jobnote/domain/email/service/VerificationEmailServiceTest.java
  src/test/java/com/jobnote/domain/user/service/UserServiceTest.java
  src/test/java/com/jobnote/domain/verificationtoken/service/VerificationTokenServiceTest.java
Labels: refactor, feature

#48 fix: 이메일 인증 URL 변경
  src/main/java/com/jobnote/global/common/Constants.java
  src/main/resources/application.yml
Labels: fix

#49 feat: 회원탈퇴 API 개발
  src/main/java/com/jobnote/domain/common/JobNoteTime.java
  src/main/java/com/jobnote/domain/common/Time.java
  src/main/java/com/jobnote/domain/user/controller/UserController.java
  src/main/java/com/jobnote/domain/user/domain/User.java
  src/main/java/com/jobnote/domain/user/service/UserService.java
  src/main/java/com/jobnote/global/common/ResponseCode.java
  src/test/java/com/jobnote/domain/user/domain/UserFixture.java
  src/test/java/com/jobnote/domain/user/domain/UserTest.java
  src/test/java/com/jobnote/domain/user/service/UserServiceTest.java
Labels: feature

#55 refactor: 회원 로직 리팩터링 및 테스트 코드 작성
  src/main/java/com/jobnote/domain/email/controller/VerificationEmailController.java
  src/main/java/com/jobnote/domain/email/domain/VerificationEmail.java
  src/main/java/com/jobnote/domain/email/service/VerificationEmailService.java
  src/main/java/com/jobnote/domain/refreshtoken/domain/RefreshToken.java
  src/main/java/com/jobnote/domain/refreshtoken/repository/RefreshTokenRepository.java
  src/main/java/com/jobnote/domain/user/controller/UserController.java
  src/main/java/com/jobnote/domain/user/service/AuthTokenService.java
  src/main/java/com/jobnote/domain/user/service/UserQueryService.java
  src/main/java/com/jobnote/domain/user/service/UserService.java
  src/main/java/com/jobnote/global/util/ResponseUtil.java
  src/test/java/com/jobnote/domain/email/domain/VerificationEmailFixture.java
  src/test/java/com/jobnote/domain/email/domain/VerificationEmailTest.java
  src/test/java/com/jobnote/domain/email/service/VerificationEmailServiceTest.java
  src/test/java/com/jobnote/domain/user/domain/UserFixture.java
  src/test/java/com/jobnote/domain/user/domain/UserTest.java
  src/test/java/com/jobnote/domain/user/service/UserQueryServiceTest.java
  src/test/java/com/jobnote/domain/user/service/UserServiceTest.java
Labels: refactor

#58 refactor: 인증 로직 리팩터링
  src/main/java/com/jobnote/auth/config/LoginUserArgumentResolver.java
  src/main/java/com/jobnote/auth/dto/CustomOAuth2User.java
  src/main/java/com/jobnote/auth/dto/CustomPrincipal.java
  src/main/java/com/jobnote/auth/dto/CustomUserDetails.java
  src/main/java/com/jobnote/auth/filter/TokenAuthenticationFilter.java
  src/main/java/com/jobnote/auth/handler/OAuth2LoginSuccessHandler.java
  src/main/java/com/jobnote/auth/service/CustomOAuth2UserService.java
  src/main/java/com/jobnote/domain/applicationform/api/ApplicationFormApi.java
  src/main/java/com/jobnote/domain/applicationform/controller/ApplicationFormController.java
  src/main/java/com/jobnote/domain/document/api/DocumentApi.java
  src/main/java/com/jobnote/domain/document/controller/DocumentController.java
  src/main/java/com/jobnote/domain/schedule/api/ScheduleApi.java
  src/main/java/com/jobnote/domain/schedule/api/UserScheduleApi.java
  src/main/java/com/jobnote/domain/schedule/controller/ScheduleController.java
  src/main/java/com/jobnote/domain/schedule/controller/UserScheduleController.java
  src/main/java/com/jobnote/domain/user/controller/UserController.java
  src/main/java/com/jobnote/domain/user/service/LoginService.java
  src/main/java/com/jobnote/infra/s3/api/S3Api.java
  src/main/java/com/jobnote/infra/s3/controller/S3Controller.java
  src/test/java/com/jobnote/domain/email/domain/VerificationEmailTest.java
  src/test/java/com/jobnote/domain/email/service/VerificationEmailServiceTest.java
  src/test/java/com/jobnote/domain/user/domain/UserFixture.java
  src/test/java/com/jobnote/domain/user/domain/UserTest.java
  src/test/java/com/jobnote/domain/user/service/LoginServiceTest.java
  src/test/java/com/jobnote/domain/user/service/UserQueryServiceTest.java
  src/test/java/com/jobnote/domain/user/service/UserServiceTest.java
Labels: refactor

#60 fix: 회원 로직 버그 수정
  src/main/java/com/jobnote/auth/config/SecurityConfig.java
  src/main/java/com/jobnote/auth/filter/TokenAuthenticationFilter.java
  src/main/java/com/jobnote/auth/handler/OAuth2LoginSuccessHandler.java
  src/main/java/com/jobnote/domain/email/controller/VerificationEmailController.java
  src/main/java/com/jobnote/domain/user/controller/UserController.java
  src/main/java/com/jobnote/domain/user/dto/SocialSignUpRequest.java
  src/main/java/com/jobnote/domain/user/service/UserService.java
  src/main/java/com/jobnote/global/common/Constants.java
  src/main/java/com/jobnote/global/util/ResponseUtil.java
Labels: fix

#62 config: application.yml 설정
  .github/workflows/build-test.yml
  .gitignore
  src/main/java/com/jobnote/auth/handler/OAuth2LoginFailureHandler.java
  src/main/java/com/jobnote/auth/handler/OAuth2LoginSuccessHandler.java
  src/main/java/com/jobnote/domain/email/controller/VerificationEmailController.java
  src/main/java/com/jobnote/global/config/CorsConfig.java
  src/main/java/com/jobnote/global/config/properties/FrontendProperties.java
  src/main/resources/application-dev.yml
  src/main/resources/application-local.yml
  src/main/resources/application.yml
  src/test/resources/application-test.yml
Labels: config

#67 config: 쿠키 설정 변경
  src/main/java/com/jobnote/global/util/CookieUtil.java
Labels: config

#69 config: 배포 자동화 워크플로 생성
  .github/workflows/deploy.yml
Labels: config

#71 refactor: 문서에 제목 추가
  src/main/java/com/jobnote/domain/document/domain/DocumentVersion.java
  src/main/java/com/jobnote/domain/document/dto/DocumentRequest.java
  src/main/java/com/jobnote/domain/document/dto/DocumentVersionResponse.java
  src/main/java/com/jobnote/domain/document/service/DocumentService.java
Labels: refactor

#74 feat: 회원 로직 수정
  src/main/java/com/jobnote/auth/token/TokenProvider.java
  src/main/java/com/jobnote/domain/email/controller/VerificationEmailController.java
  src/main/java/com/jobnote/global/common/ResponseCode.java
  src/main/java/com/jobnote/global/exception/GlobalExceptionHandler.java
  src/main/java/com/jobnote/global/util/CookieUtil.java
  src/test/java/com/jobnote/global/util/CookieUtilTest.java
Labels: feature

#72 feat: 페이징 기능 추가
  src/main/java/com/jobnote/domain/applicationform/api/ApplicationFormApi.java
  src/main/java/com/jobnote/domain/applicationform/controller/ApplicationFormController.java
  src/main/java/com/jobnote/domain/applicationform/dto/ApplicationFormListResponse.java
  src/main/java/com/jobnote/domain/applicationform/repository/ApplicationFormRepository.java
  src/main/java/com/jobnote/domain/applicationform/service/ApplicationFormService.java
  src/main/java/com/jobnote/domain/document/api/DocumentApi.java
  src/main/java/com/jobnote/domain/document/controller/DocumentController.java
  src/main/java/com/jobnote/domain/document/dto/DocumentListResponse.java
  src/main/java/com/jobnote/domain/document/dto/DocumentVersionListResponse.java
  src/main/java/com/jobnote/domain/document/repository/DocumentRepository.java
  src/main/java/com/jobnote/domain/document/repository/DocumentVersionRepository.java
  src/main/java/com/jobnote/domain/document/service/DocumentService.java
  src/main/java/com/jobnote/domain/schedule/api/UserScheduleApi.java
  src/main/java/com/jobnote/domain/schedule/controller/UserScheduleController.java
  src/main/java/com/jobnote/domain/schedule/dto/ScheduleListResponse.java
  src/main/java/com/jobnote/domain/schedule/repository/ScheduleRepository.java
  src/main/java/com/jobnote/domain/schedule/service/ScheduleService.java
  src/main/java/com/jobnote/global/annotation/swagger/PageableAsQueryParam.java
  src/test/java/com/jobnote/domain/applicationform/service/ApplicationFormServiceTest.java
Labels: feature

#76 feat: JWT 토큰 전달 방식 변경
  src/main/java/com/jobnote/auth/filter/TokenAuthenticationFilter.java
  src/main/java/com/jobnote/auth/handler/OAuth2LoginSuccessHandler.java
  src/main/java/com/jobnote/auth/token/TokenProvider.java
  src/main/java/com/jobnote/domain/user/controller/UserController.java
  src/main/java/com/jobnote/global/common/Constants.java
  src/main/java/com/jobnote/global/common/ResponseCode.java
  src/main/java/com/jobnote/global/util/CookieUtil.java
  src/test/java/com/jobnote/auth/LoginApplicationTest.java
  src/test/java/com/jobnote/global/util/CookieUtilTest.java
Labels: feature

#77 refactor: 코드 개선
  src/main/java/com/jobnote/domain/applicationform/api/ApplicationFormApi.java
  src/main/java/com/jobnote/domain/applicationform/repository/ApplicationFormRepository.java
  src/main/java/com/jobnote/domain/applicationform/service/ApplicationFormService.java
  src/main/java/com/jobnote/domain/applicationformdocument/repository/ApplicationFormDocumentRepository.java
  src/main/java/com/jobnote/domain/applicationformdocument/service/ApplicationFormDocumentService.java
  src/main/java/com/jobnote/domain/document/dto/DocumentResponse.java
  src/main/java/com/jobnote/domain/document/repository/DocumentVersionRepository.java
  src/main/java/com/jobnote/domain/document/service/DocumentService.java
Labels: refactor
