Repository Side-Project-JobNote/Backend, pull requests merged in 2025-07, with the labels that each got.

#2 chore: 템플릿 및 자동화 워크플로 생성
  .github/ISSUE_TEMPLATE/chore.md
  .github/ISSUE_TEMPLATE/docs.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/fix.md
  .github/ISSUE_TEMPLATE/refactor.md
  .github/ISSUE_TEMPLATE/release.md
  .github/ISSUE_TEMPLATE/test.md
  .github/labeler.yml
  .github/pull_request_template.md
  .github/workflows/auth-author-assign.yml
  .github/workflows/build-test.yml
  .github/workflows/labeler.yml
Labels: chore

#15 feat: 일정 개발
  src/main/java/com/jobnote/domain/applicationform/api/ApplicationFormController.java
  src/main/java/com/jobnote/domain/applicationform/domain/ApplicationForm.java
  src/main/java/com/jobnote/domain/applicationform/dto/ApplicationFormRequest.java
  src/main/java/com/jobnote/domain/applicationform/dto/ApplicationFormResponse.java
  src/main/java/com/jobnote/domain/applicationform/repository/ApplicationFormRepository.java
  src/main/java/com/jobnote/domain/applicationform/service/ApplicationFormMapper.java
  src/main/java/com/jobnote/domain/applicationform/service/ApplicationFormService.java
  src/main/java/com/jobnote/domain/schedule/api/ScheduleController.java
  src/main/java/com/jobnote/domain/schedule/domain/Schedule.java
  src/main/java/com/jobnote/domain/schedule/domain/ScheduleStatus.java
  src/main/java/com/jobnote/domain/schedule/dto/ScheduleRequest.java
  src/main/java/com/jobnote/domain/schedule/dto/ScheduleResponse.java
  src/main/java/com/jobnote/domain/schedule/repository/ScheduleRepository.java
  src/main/java/com/jobnote/domain/schedule/service/ScheduleMapper.java
  src/main/java/com/jobnote/domain/schedule/service/ScheduleService.java
  src/main/java/com/jobnote/domain/user/service/UserService.java
  src/main/java/com/jobnote/global/common/ResponseCode.java
  src/test/java/com/jobnote/domain/applicationform/service/ApplicationFormServiceTest.java
Labels: feature

#20 config: 환경변수 설정 방식 변경
  .github/workflows/build-test.yml
  .gitignore
  src/main/resources/application.yml
Labels: config
